<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>message</title>
    <meta name="author" content="User" />
    <!-- Date: 2014-09-12 -->

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://v3.bootcss.com/examples/signin/signin.css">

    <script>
    </script>

    <style type="text/css">
    .childBody {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header navFontSize">
            </div>
        </div>
    </div>
        <div class="">
            <h1><%=message%></h1>
        </div>
    </body>
</html>
